<script setup>
  import { useRouter, RouterView } from 'vue-router'
  const router = useRouter()
  
  const menu = [
    {name: "Manage Members", link: 'member'},
    {name: "Training Slot", link: 'training'},
    {name: "Attendance", link: 'attendance'},
    {name: "Reports", link: 'report'}
  ]
</script>

<template>
  <div class="flex">
    <div class="basis-1/5">
      <div class="w-4/5 mt-40">
        <template v-for="item in menu" :key="item.name">
          <button class="menu-item w-full" @click="router.push({name: 'admin-'+item.link})">
            <p>{{ item.name }}</p>
          </button>
        </template>
      </div>
    </div>
    <div class="w-full">
      <RouterView />
    </div>
  </div>
</template>