<script setup>
import { doc, getDoc } from "@firebase/firestore";
import { signInWithEmailAndPassword } from "firebase/auth";
import { ref } from "vue";
import { useRouter } from "vue-router";
const router = useRouter()

const data = ref({})
const user = ref()
const login = ()=>{
  signInWithEmailAndPassword(auth, data.value.username, data.value.password)
  .then((userCredential) => {
    user.value = userCredential.user;
    localStorage.setItem('isLogin', JSON.stringify({isLogin: true}))
    checkPrivilege()
  })
  .catch((error) => {
    const errorCode = error.code;
    const errorMessage = error.message;
    Swal.fire('Error', errorMessage, 'error')
  });
}

const checkPrivilege = async ()=>{
  const response = await getDoc(doc(db, 'user', user.value.uid))
  if (response.data().isAdmin){
    router.push({name: 'admin-dashboard'}).then(()=>{
      window.location.href = window.location.href;
      localStorage.setItem('user', JSON.stringify({...user.value, isAdmin: true}))
    })
  }else{
    router.push({name: 'stud-dashboard'}).then(()=>{
      window.location.href = window.location.href;
      localStorage.setItem('user', JSON.stringify({...user.value, isAdmin: false}))
    })
  }
}

const loginForm = ref(false)
const showLogin = ()=>{
  loginForm.value = true
}
</script>

<template>
  <div class="flex w-full justify-center mt-40">
    <div v-if="!loginForm" class="text-center">
      <h3 class="font-semibold tracking-wider text-xl mb-4">LOGIN</h3>
      <button class="rounded-md py-2 px-4 bg-green-500 text-white mx-1" @click="showLogin()">Login for Student</button>
      <button class="rounded-md py-2 px-4 bg-green-500 text-white mx-1" @click="showLogin()">Login for Admin</button>
    </div>
    <div v-show="loginForm" class="text-center">
      <h3 class="font-semibold tracking-wider text-xl mb-4">LOGIN</h3>
      <form
        @submit.prevent="login"
        class="space-y-4 text-center"
      >
        <div class="flex items-center">
          <p class="basis-1/3">ID Number</p>
          <input 
            type="text"
            v-model="data.username"
            placeholder="Enter ID Number.."
            class="ml-2 basis-2/3"
          >
        </div>
        <div class="flex items-center">
          <p class="basis-1/3">Password</p>
          <input 
            type="text"
            v-model="data.password"
            placeholder="Enter password.."
            class="ml-2 basis-2/3"
          >
        </div> 
        <button type="submit" class="standard-button">
          Sign In
        </button>
      </form>
    </div>
  </div>
</template>
