<script setup>
import { createUserWithEmailAndPassword } from "firebase/auth";
import { setDoc, doc } from "firebase/firestore"
import { ref } from "vue";
import { useRouter } from "vue-router";
const router = useRouter()

const data = ref({})

const login = ()=>{
  createUserWithEmailAndPassword(auth, data.value.email, data.value.password)
    .then((userCredential) => {
      const user = userCredential.user;
      console.log("🚀 ~ file: HomeView.vue:12 ~ .then ~ user:", user)
      addCollection(userCredential)
    })
    .catch((error) => {
      console.log("🚀 ~ file: HomeView.vue:16 ~ login ~ error:", error)
      const errorCode = error.code;
      const errorMessage = error.message;
      Swal.fire('Error', errorMessage, 'error')
    });
}

const addCollection = async (response)=>{
  await setDoc(doc(db, 'user', response.user.uid), {
    address: data.value.address,
    contactNum: data.value.contactNum,
    matric_number: data.value.matric_number,
    name: data.value.name,
    membershipExp: new Date("27 July 2000"),
    paymentHistory: [],
    isAdmin: false
  })
  localStorage.setItem('user', JSON.stringify(response.user))
  localStorage.setItem('isLogin', JSON.stringify({isLogin: true}))
  router.push({name: 'stud-dashboard'})
}

</script>

<template>
  <div class="flex w-full justify-center mt-40">
    <div class="text-center">
      <h3 class="font-semibold tracking-wider text-xl mb-4">Sign Up</h3>
      <form
        @submit.prevent="login"
        class="space-y-4 text-center"
      >
        <div class="flex items-center">
          <p class="basis-1/3">Name</p>
          <input 
            type="text"
            v-model="data.name"
            placeholder="Enter Name.."
            class="ml-2 basis-2/3"
          >
        </div>
        <div class="flex items-center">
          <p class="basis-1/3">ID Number</p>
          <input 
            type="text"
            v-model="data.matric_number"
            placeholder="Enter ID Number.."
            class="ml-2 basis-2/3"
          >
        </div>
        <div class="flex items-center">
          <p class="basis-1/3">Address</p>
          <input 
            type="text"
            v-model="data.address"
            placeholder="Enter Address.."
            class="ml-2 basis-2/3"
          >
        </div>
        <div class="flex items-center">
          <p class="basis-1/3">Contact Number</p>
          <input 
            type="text"
            v-model="data.contactNum"
            placeholder="Enter Contact Number.."
            class="ml-2 basis-2/3"
          >
        </div>
        <div class="flex items-center">
          <p class="basis-1/3">Email</p>
          <input 
            type="email"
            v-model="data.email"
            placeholder="Enter Email.."
            class="ml-2 basis-2/3"
          >
        </div>
        
        <div class="flex items-center">
          <p class="basis-1/3">Password</p>
          <input 
            type="password"
            v-model="data.password"
            placeholder="Enter password.."
            class="ml-2 basis-2/3"
          >
        </div> 
        <button type="submit" class="standard-button">
          Sign In
        </button>
      </form>
    </div>
  </div>
</template>
