<script setup>
  import { signOut } from '@firebase/auth';
import { useRouter, RouterView } from 'vue-router'
  const router = useRouter()
  const menu = [
    {name: "View Profile", link: 'profile'},
    {name: "Book Training Slot", link: 'training'},
    {name: "Membership Registration", link: 'membership'},
  ]

  const logout = ()=>{
    signOut(auth)
    .then(()=>{
      localStorage.setItem('isLogin', JSON.stringify({isLogin: false}))
      router.push({name: 'home'}).then(()=>{
        window.location.href = window.location.href;
      })
    }).catch((error)=>{
      Swal.fire('Error', error.message, 'error')
    })
  }
</script>

<template>
  <div class="flex">
    <div class="basis-1/5">
      <div class="w-4/5 mt-40">
        <template v-for="item in menu" :key="item.name">
          <div class="menu-item hover:cursor-pointer" @click="router.push({name: 'stud-'+item.link})">
            <p>{{ item.name }}</p>
          </div>
        </template>
        <div class="menu-item hover:cursor-pointer" @click="logout()">
          <p>Log Out</p>
        </div>
      </div>
    </div>
    <div class="w-full">
      <RouterView />
    </div>
  </div>
</template>