<script setup>
import { addDoc, collection, doc, getDoc, getDocs, query, setDoc, updateDoc, where } from '@firebase/firestore';
import dayjs from 'dayjs';
import { ref, onMounted } from 'vue';

const users = ref([])

const matric_number = ref()
const search = async ()=>{
  const tempUser = []
  const memQ = query(
    collection(db, 'user'), 
    where('isAdmin', '==', false),
    where('matric_number', '==', matric_number.value)
  )
  const res = await getDocs(memQ)
  if (!res.empty){
    res.forEach(async (x)=>{
      const attendaceQ = query(
        collection(db, 'attendance'), 
        where('checkIn', '<=', new Date()),
        where('checkOut', '==', ''),
        where('uid', '==', x.id),
      )

      const attendanceSnap = await getDocs(attendaceQ)
      console.log("🚀 ~ file: AdminAttendance.vue:27 ~ res.forEach ~ attendanceSnap:", attendanceSnap)
      if (attendanceSnap.empty){
        users.value.push({
          ...x.data(),
          uid: x.id
        })
      }else{
        users.value.push({
          ...x.data(),
          uid: x.id,
          checkOut: attendanceSnap.docs[0].data().checkOut,
          checkIn: attendanceSnap.docs[0].data().checkIn,
          att_id: attendanceSnap.docs[0].id
        })
      }
    })
  }
}

const checkin = async (ind)=>{
  Swal.fire({
    title: 'Confirm checkin?',
    showDenyButton: true,
    confirmButtonText: 'Confirm',
    denyButtonText: `Cancel`,
  }).then(async (result) => {
    if (result.isConfirmed) {
      Swal.fire('Updated!', '', 'success')
      console.log(users.value[ind])
      const ref = await addDoc(collection(db, 'attendance'), {
        uid: users.value[ind].uid,
        checkIn: new Date(),
        checkOut: ''
      })
      
    }
  })
}

const checkout = async (ind)=>{
  Swal.fire({
    title: 'Confirm checkout?',
    showDenyButton: true,
    confirmButtonText: 'Confirm',
    denyButtonText: `Cancel`,
  }).then(async (result) => {
    if (result.isConfirmed) {
      Swal.fire('Updated!', '', 'success')
      const ref = await updateDoc(doc(db, 'attendance', users.value[ind].att_id), {
        checkOut: new Date()
      })
      users.value[ind].checkOut = new Date()
      console.log("🚀 ~ file: AdminAttendance.vue:82 ~ ref ~ ref:", ref)
    }
  })
}

</script>

<template>
  <div class="mt-10 w-full text-center mx-auto">
    <h1 class="text-4xl font-semibold tracking-wide">Attendance</h1>
    <form @submit.prevent="search()">
      <div class="flex items-center justify-center mt-4">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z" />
        </svg>
        <input 
          type="text"
          v-model="matric_number"
          placeholder="Enter matric number.."
          class="ml-2 w-2/6"
        >
        <button class="ml-2 standard-button" type="submit">
          Search
        </button>
      </div>
    </form>
    <div class="mt-4">
      <div class="relative overflow-x-auto">
        <table class="w-11/12 text-sm text-left">
          <thead class="text-xs uppercase bg-gray-300">
            <tr>
              <th scope="col" class="px-6 py-3">
                NO
              </th>
              <th scope="col" class="px-6 py-3">
                Matric Num
              </th>
              <th scope="col" class="px-6 py-3">
                Name
              </th>
              <th scope="col" class="px-6 py-3">
                Contact Num
              </th>
              <th scope="col" class="px-6 py-3">
                Action
              </th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(g, i) in users" class="bg-white border-b border-gray-700">
              <th scope="row" class="px-6 py-4 font-medium">
                {{ i+1 }}
              </th>
              <td class="px-6 py-4">
                {{ g.matric_number }}
              </td>
              <td class="px-6 py-4">
                {{ g.name }}
              </td>
              <td class="px-6 py-4">
                {{ g.contactNum }}
              </td>
              <td class="px-6 py-4">
                <template v-if="'checkIn' in g">
                  <template v-if="g.checkOut == ''">
                    <button class="rounded-md bg-rose-500 py-2 px-4 text-white" @click="checkout(i)">
                      Check-Out
                    </button>
                  </template>
                  <template v-else>
                    <button disabled class="cursor-not-allowed">
                      -
                    </button>
                  </template>
                </template>
                <template v-else>
                  <button class="rounded-md bg-green-500 py-2 px-4 text-white" @click="checkin(i)">
                    Check-In
                  </button>
                </template>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>