<script setup>
import { collection, doc, getDoc, getDocs, query, where } from '@firebase/firestore';
import dayjs from 'dayjs';
import { ref, onBeforeMount } from 'vue';
import { useRouter } from 'vue-router';
const router = useRouter()

const members = ref([])
onBeforeMount(async()=>{
  const memQ = query(collection(db, 'user'), where('isAdmin', '==', false))
  const res = await getDocs(memQ)
  console.log("🚀 ~ file: AdminMember.vue:10 ~ onBeforeMount ~ res:", res)
  res.forEach((item)=>{
    members.value.push({...item.data(), uid: item.id})
  })
})

const memberStat = (i)=>{
  return i.membershipExp.toDate() > new Date() ? 'Active' : 'Inactive'
}

const matric_number = ref()
const search = async()=>{
  members.value = []
  console.log(matric_number.value)
  const memQ = query(
    collection(db, 'user'), 
    where('isAdmin', '==', false)
  )
  const res = await getDocs(memQ)
  console.log("🚀 ~ file: AdminMember.vue:27 ~ search ~ res:", res)
  res.forEach((x)=>{
    if (x.data().matric_number.includes(matric_number.value)){
      members.value.push(x.data())
    }
  })
}
</script>

<template>
  <div class="mt-10 w-full text-center mx-auto">
    <h1 class="text-4xl font-semibold tracking-wide">Manage Members</h1>
    <form @submit.prevent="search()">
    <div class="flex items-center justify-center mt-4">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z" />
        </svg>
        <input 
          type="text"
          v-model="matric_number"
          placeholder="Enter matric number.."
          class="ml-2 w-2/6"
        >
        <button type="submit" class="ml-2 standard-button">Search</button>
      </div>
    </form>
    <div class="mt-4">
      <div class="relative overflow-x-auto">
        <table class="w-11/12 text-sm text-left">
          <thead class="text-xs uppercase">
            <tr>
              <th scope="col" class="bg-gray-300 px-6 py-3">
                Matric Num
              </th>
              <th scope="col" class="bg-gray-300 px-6 py-3">
                Name
              </th>
              <th scope="col" class="bg-gray-300 px-6 py-3">
                Contact Num
              </th>
              <th scope="col" class="bg-gray-300 px-6 py-3">
                Status
              </th>
              <th scope="col" class="bg-gray-300 px-6 py-3">
                Membership End
              </th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="i in members" class="">
              <th scope="row" class="bg-white border-b border-gray-700 px-6 py-4 font-medium">
                {{ i.matric_number }}
              </th>
              <td class="bg-white border-b border-gray-700 px-6 py-4">
                {{ i.name }}
              </td>
              <td class="bg-white border-b border-gray-700 px-6 py-4">
                {{ i.contactNum }}
              </td>
              <td class="bg-white border-b border-gray-700 px-6 py-4">
                {{ memberStat(i)}}
              </td>
              <td class="bg-white border-b border-gray-700 px-6 py-4">
                {{ dayjs(i.membershipExp.toDate()).format('DD/MM/YYYY')}}
              </td>
              <td class="px-6 py-4">
                <button class="standard-button" @click="router.push({name: 'admin-single-member', params:{id: i.uid}})">
                  View
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>