<script setup>
import { doc, getDoc } from '@firebase/firestore';
import dayjs from 'dayjs';
import { ref, onBeforeMount } from 'vue';
import { useRoute } from 'vue-router';


const user = ref({})
const route = useRoute()
onBeforeMount(async()=>{
  const id = route.params.id
  const res = await getDoc(doc(db, 'user', id))
  user.value = res.data()
})

const memberStat = ()=>{
  if (user.value.membershipExp){
    return user.value.membershipExp.toDate() > new Date() ? 'Active' : 'Inactive'
  }
  return ''
}

const memberDate = ()=>{
  if (user.value.membershipExp){
    return dayjs(user.value.membershipExp.toDate()).format('DD/MM/YYYY')
  }
  return ''
}
</script>

<template>
  <div class="mt-10 w-full text-center mx-auto">
    <h1 class="text-4xl font-semibold tracking-wide">Profile</h1>
    <div class="mt-4 flex items-center justify-center">
      <div class="basis-1/3">
        <img src="https://placehold.co/600" alt="">
        <div class="mt-4">
          <p>
            <span class="font-semibold">Membership status : </span>
            {{ memberStat() }}
          </p>
          <p>
            <span class="font-semibold">Membership Expiry Date : </span>
            {{ memberDate() }}
          </p>
        </div>
      </div>
      <div class="basis-2/3 text-left pl-6 space-y-6">
        <p>
          <span class="font-semibold">Name : </span>
          {{ user.name }}
        </p>
        <p>
          <span class="font-semibold">Matric Number : </span>
          {{ user.matric_number }}
        </p>
        <p>
          <span class="font-semibold">Contact Number : </span>
          {{ user.contactNum }}
        </p>
        <p>
          <span class="font-semibold">Address : </span>
          {{ user.address }}
        </p>
      </div>
    </div>
  </div>
</template>