<script setup>
import { query, where, collection, getDocs, doc, getDoc, updateDoc } from '@firebase/firestore';
import { ref, onBeforeMount } from 'vue';

const info = ref({})
const isEdit = ref(false)
onBeforeMount(async()=>{
  const res = await getDoc(doc(db, 'options', 'general'))
  console.log("🚀 ~ file: AdminDashboard.vue:9 ~ onBeforeMount ~ res:", res.data())
  info.value = res.data()

  const memQ = query(
    collection(db, 'attendance'),
    where('checkOut', '==', "")
  )
  const attendanceRes = await getDocs(memQ)
  console.log("🚀 ~ file: AdminDashboard.vue:18 ~ onBeforeMount ~ attendanceRes:", attendanceRes)
  info.value.total = attendanceRes.size
  
})

const updateInfo = async()=>{
  const res = await updateDoc(doc(db, 'options', 'general'),{
    announcement: info.value.announcement
  })
  isEdit.value = false
  Swal('Updated','','success')
}
</script>

<template>
  <div class="mt-44 w-4/5 text-center mx-auto">
    <div class="flex items-center">
      <div class=" border border-zinc-300 p-6 w-full">
        <h1 class="font-semibold tracking-wide text-xl">Announcments</h1>
        <p v-if="!isEdit">
          {{ info.announcement }}
        </p>
        <textarea v-else v-model="info.announcement" class="w-full" rows="10"></textarea>
      </div>
      <div>
        <button v-if="!isEdit" class="basis-1/5 ml-3 standard-button" @click="isEdit = !isEdit">
          Edit
        </button>
        <button v-else type="submit" class="basis-1/5 ml-3 standard-button" @click="updateInfo()">
          Save
        </button>
      </div>
    </div>
    <div class="border border-zinc-300 p-6 mt-4">
      <h1 class="font-semibold tracking-wide text-xl">Current people at gym</h1>
      <p>{{ info.total }}</p>
    </div>
  </div>
</template>