<script setup>
import { collection, where, getDoc, getDocs, query, doc } from '@firebase/firestore';
import dayjs from 'dayjs';
import * as html2pdf from 'html2pdf.js';
import { ref, onMounted } from 'vue';

const users = ref([])
onMounted(async()=>{
  const memQ = query(
    collection(db, 'user'), 
    where('isAdmin', '==', false)
  )
  const attendanceRes = await getDocs(memQ)
  attendanceRes.forEach(async (x) => {
    users.value.push({...x.data()})
  })
})

const printPdf = ()=>{
  let element = document.getElementById('print-section')
  html2pdf(element)
}

const matric_number = ref()
const search = ()=>{
  const tempUser = []
  users.value.filter((x)=>{
    if(x.matric_number.includes(matric_number.value)){
      tempUser.push(x)
    }
  })
  users.value = tempUser
}
</script>

<template>
  <div class="mt-10 w-full text-center mx-auto">
    <h1 class="text-4xl font-semibold tracking-wide">Payment Report</h1>
    <form @submit.prevent="search()">
      <div class="flex items-center justify-center mt-4">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z" />
        </svg>
        <input 
          type="text"
          v-model="matric_number"
          placeholder="Enter matric number.."
          class="ml-2 w-2/6"
        >
        <button class="ml-2 standard-button" type="submit">
          Search
        </button>
      </div>
    </form>
    <div class="mt-4">
      <div class="relative overflow-x-auto">
        <table id="print-section" class="w-11/12 text-sm text-left">
          <thead class="text-xs uppercase bg-gray-300">
            <tr>
              <th scope="col" class="px-6 py-3">
                NO
              </th>
              <th scope="col" class="px-6 py-3">
                Matric Num
              </th>
              <th scope="col" class="px-6 py-3">
                Name
              </th>
              <th scope="col" class="px-6 py-3">
                Contact Num
              </th>
              <th scope="col" class="px-6 py-3">
                Last Payment
              </th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(g, i) in users" class="bg-white border-b border-gray-700">
              <th scope="row" class="px-6 py-4 font-medium">
                {{ i+1 }}
              </th>
              <td class="px-6 py-4">
                {{ g.matric_number }}
              </td>
              <td class="px-6 py-4">
                {{ g.name }}
              </td>
              <td class="px-6 py-4">
                {{ g.contactNum }}
              </td>
              <td class="px-6 py-4">
                <template v-if="'paymentHistory' in g">
                  {{ dayjs(g.paymentHistory[-1]) }}
                </template>
                <template v-else>
                  No Data
                </template>
              </td>
            </tr>
          </tbody>
        </table>
        <button class="standard-button mt-4" @click="printPdf()">
          Print
        </button>
      </div>
    </div>
  </div>
</template>