<script setup>
import { useRouter } from 'vue-router';

const router = useRouter()
</script>

<template>
  <div class="mt-10 w-full text-center mx-auto">
    <h1 class="text-4xl font-semibold tracking-wide">Reports</h1>
    
    <div class="mt-10 flex items-center justify-center space-x-6">
      <button @click="router.push({name: 'admin-attendance-report'})" class="p-10 bg-zinc-200 hover:bg-zinc-300 border border-transparent hover:border-zinc-500 ">
        <p class="text-4xl font-semibold">Attendance</p>
      </button>
      <button @click="router.push({name: 'admin-payment-report'})" class="p-10 bg-zinc-200 hover:bg-zinc-300 border border-transparent hover:border-zinc-500 ">
        <p class="text-4xl font-semibold">Payments</p>
      </button>
    </div>
  </div>
</template>