<script setup>
import { getDocs, where, doc, getDoc, setDoc, query, collection } from '@firebase/firestore';
import { ref, onMounted } from 'vue';
import * as dayjs from 'dayjs'
import { useRouter } from 'vue-router';
const router = useRouter()
const slots = ref()
onMounted(async ()=>{
  const response = await getDoc(doc(db, 'options', 'general'))
  slots.value = response.data().trainingSlot
  console.log(slots.value)
})

const getDuration = (date, duration)=>{
  let fullDate = date.toDate()
  let fromTime = dayjs(fullDate).format('h : mm a')
  let untilTime = dayjs(fullDate).add(duration, 'h').format('h : mm a')
  console.log("🚀 ~ file: StudTraining.vue:17 ~ getDuration ~ fromTime:", fromTime)
  
  return fromTime + ' - ' + untilTime
}

const getFormatDate = (date)=>{
  let fullDate = date.toDate()
  return (fullDate.getDate() + '/' + (fullDate.getMonth()+1) + '/' + fullDate.getUTCFullYear())
}

const getDay = (date)=>{
  const day = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday']
  let fullDate = date.toDate()
  console.log("🚀 ~ file: StudTraining.vue:14 ~ getDay ~ fullDate:", fullDate)
  return day[fullDate.getDay()]
}

</script>

<template>
  <div class="mt-10 w-full text-center mx-auto">
    <div class="text-center">
      <h1 class="text-4xl font-semibold tracking-wide">Training Slot</h1>
      <button 
        class="standard-button mt-3" 
        @click="router.push({name: 'admin-add-training', params:{id: 'new'}})"
      >
        Add
      </button>
    </div>
    <div class="mt-10 flex justify-center flex-wrap">
      <div v-for="(slot, ind) in slots" class="basis-1/3 p-2">
        <div class="border border-zinc-300 p-8">
          <p>{{ slot.coachName }}</p>
          <p>{{ getDay(slot.date) }}</p>
          <p>{{ getFormatDate(slot.date) }}</p>
          <p>{{ getDuration(slot.date, slot.duration) }}</p>
          <button class="standard-button" @click="router.push({name: 'admin-add-training', params:{id: ind}})">
            Edit
          </button>
        </div>
      </div>
    </div>
  </div>
</template>