<script setup>
import { getDocs, where, doc, getDoc, setDoc, query, collection, updateDoc } from '@firebase/firestore';
import { ref, onBeforeMount } from 'vue';
import * as dayjs from 'dayjs'
import { useRoute } from 'vue-router';
const route = useRoute()

const slot = ref({})
const slots = ref([])
const id = ref()
const slotDate = ref()
const isAdd = ref(false)

onBeforeMount(async ()=>{
  id.value = route.params.id
  if (id.value == 'new'){
    isAdd.value = true
  }else{
    const response = await getDoc(doc(db, 'options', 'general'))
    slots.value = response.data().trainingSlot
    slot.value = response.data().trainingSlot[id.value]
    slotDate.value = dayjs(response.data().trainingSlot[id.value].date.toDate()).format('YYYY-MM-DDTHH:mm')
  }
})

const createTraining = async()=>{
  if (isAdd.value){
    slot.value.date = dayjs(slotDate.value).$d
    slots.value.push(slot.value)
    const res = await updateDoc(doc(db, 'options', 'general'),{
      trainingSlot: [...slots.value]
    })
    Swal('Created','','success')
  }else{
    slot.value.date = dayjs(slotDate.value).$d
    slots.value[id.value] = slot.value
    const res = await updateDoc(doc(db, 'options', 'general'),{
      trainingSlot: [...slots.value]
    })
    Swal('Updated','','success')
  }
}

</script>

<template>
  <div class="mt-10 w-full text-center mx-auto">
    <h1 class="text-4xl font-semibold tracking-wide">New Training Slot</h1>
    <form class="mt-10 space-y-4" @submit.prevent="createTraining">
      <div class="flex items-center justify-center">
        <p class="basis-1/5">Trainer</p>
        <input 
          type="text"
          v-model="slot.coachName"
        >
      </div>
      <div class="flex items-center justify-center">
        <p class="basis-1/5">Date</p>
        <input 
          type="datetime-local"
          v-model="slotDate"
        >
      </div>
      <div class="flex items-center justify-center">
        <p class="basis-1/5">Training Duration</p>
        <input 
          type="number"
          v-model="slot.duration"
        >
      </div>
      <button type="submit" class="standard-button">
        <span v-if="isAdd">Create Training Slot</span>
        <span v-else>Update Training Slot</span>
      </button>
    </form>
  </div>
</template>