<script setup>
import { ref, onMounted } from 'vue';
import { getDoc, doc, updateDoc } from '@firebase/firestore';
import { updatePassword } from '@firebase/auth';

const data = ref({})
const user = ref({email: ''})
const memberDate = ref()
onMounted( async ()=>{
  user.value = JSON.parse(localStorage.getItem('user'))
  console.log("🚀 ~ file: StudProfile.vue:8 ~ onMounted ~ user:", user)
  const response = await getDoc(doc(db, 'user', user.value.uid))
  data.value = response.data()
  console.log("🚀 ~ file: StudProfile.vue:10 ~ onMounted ~ response:", response.data())
  const member = response.data().membershipExp
  memberDate.value = member.toDate().toDateString()
  console.log("🚀 ~ file: StudProfile.vue:13 ~ onMounted ~ member:", member.toDate())
  data.value.membershipStat = member.toDate() > new Date() ? 'Active' : 'Non-Active'
})

const isEdit = ref(false)
const updateInfo = async ()=>{
  Swal.fire({
    title: 'Do you want to save the changes?',
    showDenyButton: true,
    confirmButtonText: 'Save',
    denyButtonText: `Don't save`,
  }).then((result) => {
    if (result.isConfirmed) {
      Swal.fire('Saved!', '', 'success')
      updateDoc(doc(db, 'user', user.value.uid),{
        address: data.value.address,
        contactNum: data.value.contactNum,
        matric_number: data.value.matric_number,
        name: data.value.name,
      })
    } else if (result.isDenied) {
      Swal.fire('Changes are not saved', '', 'info')
      localtion.reload()
    }
  })
  isEdit.value = false
}

const isUpdatePass = ref(false)
const newPass = ref()
const updatePass = ()=>{
  updatePassword(auth.currentUser, newPass.value).then(() => {
    Swal.fire('Saved!', '', 'success')
    newPass.value = ''
  }).catch((error) => {
    console.log("🚀 ~ file: StudProfile.vue:52 ~ updatePassword ~ error:", error)
    Swal.fire('Erorr!',error.message,'error')
  });
}
</script>

<template>
  <div class="mt-10 w-full text-center mx-auto">
    <h1 class="text-4xl font-semibold tracking-wide">Profile</h1>
    <div class="mt-4 flex items-center justify-center">
      <div class="basis-1/3">
        <img src="https://placehold.co/600" alt="">
        <div class="mt-4">
          <p>
            <span class="font-semibold">Membership status : </span>
            {{ data.membershipStat }}
          </p>
          <p>
            <span class="font-semibold">Membership Expiry Date : </span>
            {{ memberDate }}
          </p>
        </div>
      </div>
      <div class="basis-2/3 text-left pl-6 space-y-6">
        <div v-if="!isEdit">
          <p>
            <span class="font-semibold">Name : </span>
            {{ data.name }}
          </p>
          <p>
            <span class="font-semibold">Matric Number : </span>
            {{ data.matric_number }}
          </p>
          <p>
            <span class="font-semibold">Email : </span>
            {{ user.email }}
          </p>
          <p>
            <span class="font-semibold">Contact Number : </span>
            {{ data.contactNum }}
          </p>
          <p>
            <span class="font-semibold">Address : </span>
            {{ data.address }}
          </p>
        </div>
        <div v-else class="space-y-2">
          <div class="flex items-center">
            <p>Name : </p>
            <input type="text" v-model="data.name" class="ml-2">
          </div>
          <div class="flex items-center">
            <p>Matric Number : </p>
            <input type="text" v-model="data.matric_number" class="ml-2">
          </div>
          <div class="flex items-center">
            <p>Email : </p>
            <input type="email" v-model="user.email" class="ml-2" disabled>
          </div>
          <div class="flex items-center">
            <p>Contact Number : </p>
            <input type="text" v-model="data.contactNum" class="ml-2">
          </div>
          <div class="flex items-center">
            <p>Address : </p>
            <input type="text" v-model="data.address" class="ml-2">
          </div>
        </div>
        <div>
          <button v-if="!isEdit" class="standard-button ml-40" @click="isEdit = !isEdit">
            <span >Edit</span>
          </button>
          <button v-else class="standard-button ml-40" @click="updateInfo">
            <span>Save</span>
          </button>
        </div>
        <div>
          <button class="standard-button ml-60" @click="isUpdatePass = !isUpdatePass">
            Change Password
          </button>
        </div>
        <div v-if="isUpdatePass" class="space-y-2">
          <form @submit.prevent="updatePass">
            <div class="flex items-center">
              <p>New Password : </p>
              <input type="text" v-model="newPass" class="ml-2" placeholder="Enter new password">
            </div>
            <button class="standard-button" type="submit">
              Save
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>