<script setup>
import { doc, getDoc, updateDoc } from '@firebase/firestore';
import { ref, onMounted } from 'vue';
import * as dayjs from 'dayjs'

const isActive = ref()
const user = ref()
const paymentHistory = ref()
onMounted(async()=>{
  user.value = JSON.parse(localStorage.getItem('user'))
  const res = await getDoc(doc(db, 'user', user.value.uid))
  isActive.value = res.data().membershipExp.toDate() > new Date() ? true : false
  paymentHistory.value = res.data().paymentHistory
  console.log("🚀 ~ file: StudMembership.vue:10 ~ onMounted ~ isActive:", isActive.value)
})

const renewMember = async()=>{
  let currentDate = new Date()
  let formattedDate = new Date(currentDate.getFullYear() + 1, currentDate.getMonth(), currentDate.getDate())
  const res = await updateDoc(doc(db, 'user', user.value.uid),{
    membershipExp: formattedDate,
    paymentHistory: paymentHistory.value.push(formattedDate)
  })
  location.reload()
}
</script>

<template>
  <div class="mt-10 w-full text-center mx-auto">
    <h1 class="text-4xl font-semibold tracking-wide">Membership Registration</h1>
    <div class="mt-10 flex justify-center flex-wrap">
      <div class="basis-1/3 p-2">
        <div class="border border-zinc-300 p-12 space-y-4">
          <p>Student</p>
          <p><b>RM 25</b>/annually</p>
          
          <button :disabled="isActive" class="disabled:cursor-not-allowed standard-button" @click="renewMember()">
            Pay
          </button>
        </div>
      </div>
    </div>
  </div>
</template>