<script setup>
import { collection, where, getDocs, doc, getDoc, query } from '@firebase/firestore';
import dayjs from 'dayjs';
import { ref, onBeforeMount } from 'vue';
import { useRouter, useRoute } from 'vue-router';
import * as html2pdf from 'html2pdf.js'
const route = useRoute()

const userInfo = ref({name: '', matric_number: ''})
const user = ref()
const id = ref()
onBeforeMount(async ()=>{
  user.value = JSON.parse(localStorage.getItem('user'))
  const userData = await getDoc(doc(db, 'user', user.value.uid))
  console.log("🚀 ~ file: StudSingleReport.vue:15 ~ onMounted ~ userData:", userData)
  userInfo.value = userData.data()
  console.log("🚀 ~ file: StudSingleReport.vue:16 ~ onMounted ~ userInfo:", userInfo.value)
  id.value = route.params.id
})

const convertDate = ()=>{
  if (userInfo.value.paymentHistory){
    return dayjs(userInfo.value.paymentHistory[id.value].toDate()).format('DD/MM/YYYY')
  }
  return ''
}

const printPdf = ()=>{
  let element = document.getElementById('printing-section');
  html2pdf(element);
}
</script>

<template>
  <div class="mt-10 w-full text-center mx-auto">
    <h1 class="text-4xl font-semibold tracking-wide">Payment Report</h1>
    
    <div class="mt-16 p-6">
      <div id="printing-section" class="border border-zinc-300 p-6 space-y-2">
        <h1 class="text-left text-xl font-semibold tracking-wide">Receipt</h1>
        <div class="flex justify-between">
          <p>
            <b>Name : </b>
            {{ userInfo.name }}
          </p>
          <p>
            <b>Date : </b>
            {{ convertDate() }}
          </p>
        </div>
        <p class="text-left">
          <b>Matric Number : </b>
          {{ userInfo.matric_number }}
        </p>

        <table class="w-10/12 mx-auto !mt-6">
          <tr class="border-b-2 border-zinc-400">
            <td class="font-semibold text-left w-3/4">Desciption</td>
            <td class="font-semibold">Amount</td>
          </tr>
          <tr class="">
            <td class="font-semibold text-left">Gym Membership</td>
            <td class="font-semibold">RM 25</td>
          </tr>
        </table>
      </div>
      <button class="standard-button mt-6" @click="printPdf()">
        Print
      </button>
    </div>
  </div>
</template>