<script setup>
import { ref, onMounted } from 'vue';
import { query, collection, where, getDocs, getDoc, doc  } from '@firebase/firestore';

const data = ref({})
onMounted( async ()=>{
  const response = await getDoc(doc(db, 'options', 'general'))
  console.log(response.data())
  data.value.announce = response.data().announcement
  data.value.currentPeople = response.data().currentPeople

  const memQ = query(
    collection(db, 'attendance'),
    where('checkOut', '==', "")
  )
  const attendanceRes = await getDocs(memQ)
  console.log("🚀 ~ file: AdminDashboard.vue:18 ~ onBeforeMount ~ attendanceRes:", attendanceRes)
  data.value.total = attendanceRes.size
})
</script>

<template>
  <div class="mt-44 w-4/5 text-center mx-auto">
    <div class="flex items-center w-full">
      <div class=" border border-zinc-300 p-6 w-full">
        <h1 class="font-semibold tracking-wide text-xl">Announcments</h1>
        <p>
          {{ data.announce }}
        </p>
      </div>
    </div>
    <div class="border border-zinc-300 p-6 mt-4">
      <h1 class="font-semibold tracking-wide text-xl">Current people at gym</h1>
      <p>{{ data.total }}</p>
    </div>
  </div>
</template>