<script setup>
import { getDocs, addDoc, where, doc, getDoc, deleteDoc, query, collection } from '@firebase/firestore';
import { ref, onMounted } from 'vue';
import * as dayjs from 'dayjs'

const slots = ref()
const bookedSlot = ref([])
const user = ref()
onMounted(async ()=>{
  user.value = JSON.parse(localStorage.getItem('user'))
  const response = await getDoc(doc(db, 'options', 'general'))
  const bookedQuery = query(collection(db, 'bookedSlot'), where('uid', '==', user.value.uid))
  const queryResponse = await getDocs(bookedQuery);
  queryResponse.forEach((slot)=>{
    bookedSlot.value.push({...slot.data(), id: slot.id})
  })
  console.log("🚀 ~ file: StudTraining.vue:13 ~ onMounted ~ query:", bookedSlot.value)
  slots.value = response.data().trainingSlot
  console.log(slots.value)
})

const getDuration = (date, duration)=>{
  let fullDate = date.toDate()
  let fromTime = dayjs(fullDate).format('h : mm a')
  let untilTime = dayjs(fullDate).add(duration, 'h').format('h : mm a')
  console.log("🚀 ~ file: StudTraining.vue:17 ~ getDuration ~ fromTime:", fromTime)
  
  return fromTime + ' - ' + untilTime
}

const getFormatDate = (date)=>{
  let fullDate = date.toDate()
  return (fullDate.getDate() + '/' + (fullDate.getMonth()+1) + '/' + fullDate.getUTCFullYear())
}

const getDay = (date)=>{
  const day = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday']
  let fullDate = date.toDate()
  console.log("🚀 ~ file: StudTraining.vue:14 ~ getDay ~ fullDate:", fullDate)
  return day[fullDate.getDay()]
}

const bookSlot = (slot, ind)=>{
  Swal.fire({
    title: 'Confirm booking?',
    showDenyButton: true,
    confirmButtonText: 'Confirm',
    denyButtonText: `Cancel`,
  }).then(async (result) => {
    if (result.isConfirmed) {
      const ref = await addDoc(collection(db, 'bookedSlot'), {
        uid: user.value.uid,
        slotInd: ind
      })
      
      Swal.fire('Booked!', 'Your training slot has been booked', 'success')
    } else if (result.isDenied) {
      Swal.fire('Training slot is not book', '', 'info')
      location.reload()
    }
  })
}

const cancelBook = (slot, ind)=>{
  Swal.fire({
    title: 'Cancel booking?',
    showDenyButton: true,
    confirmButtonText: 'Cancel It',
    denyButtonText: `Nope`,
  }).then(async (result) => {
    if (result.isConfirmed) {
      const x =  bookedSlot.value.find(item => item.slotInd == ind)
      const ref = await deleteDoc(doc(db, 'bookedSlot', x.id))
      Swal.fire('Canceled!', 'Your training slot has been canceled', 'success')
    } else if (result.isDenied) {
      Swal.fire('Training slot is not canceled', '', 'info')
      location.reload()
    }
  })
}

const isBooked = (ind)=>{
  return bookedSlot.value.findIndex(item => item.slotInd == ind) == -1 ? false : true
}
</script>

<template>
  <div class="mt-10 w-full text-center mx-auto">
    <h1 class="text-4xl font-semibold tracking-wide">Training Slot</h1>
    <div class="mt-10 flex justify-center flex-wrap">
      <div v-for="(slot, ind) in slots" class="basis-1/3 p-2">
        <div class="border border-zinc-300 p-8">
          <p>{{ slot.coachName }}</p>
          <p>{{ getDay(slot.date) }}</p>
          <p>{{ getFormatDate(slot.date) }}</p>
          <p>{{ getDuration(slot.date, slot.duration) }}</p>
          <template v-if="isBooked(ind)">
            <button class="!bg-rose-500 hover:!text-white standard-button" @click="cancelBook(slot, ind)">
              Cancel
            </button>
          </template>
          <template v-else>
            <button class="standard-button disabled:cursor-not-allowed" @click="bookSlot(slot, ind)">
              Book
            </button>
          </template>
        </div>
      </div>
    </div>
  </div>
</template>