@tailwind base;
@tailwind components;
@tailwind utilities;

.standard-button{
  @apply bg-teal-500 rounded-full py-1 px-4 text-white;
  @apply hover:bg-teal-300 hover:text-teal-800;
}

input, textarea{
  @apply py-2 px-4 border border-zinc-300 rounded-md;
}

.menu-item{
  @apply bg-amber-500 text-white py-4 px-2 tracking-wider;
  @apply hover:bg-amber-400;
}