<script setup>
  import { RouterView, useRouter } from 'vue-router'
  import { ref, onBeforeMount } from 'vue';
  import { signOut } from '@firebase/auth';

  const router = useRouter()
  const user = ref()
  onBeforeMount(()=>{
    const x = JSON.parse(localStorage.getItem('user'))
    const y = JSON.parse(localStorage.getItem('isLogin'))
    if (x){
      user.value = x
      user.value.isLogin = y.isLogin
    }else{
      user.value = {isLogin: false}
    }
  })

  const logout = ()=>{
    signOut(auth)
    .then(()=>{
      localStorage.setItem('isLogin', JSON.stringify({isLogin: false}))
      router.push({name: 'home'}).then(()=>{
        window.location.href = window.location.href;
      })
    }).catch((error)=>{
      Swal.fire('Error', error.message, 'error')
    })
  }
</script>

<template>
  <header>
    <div class="flex p-4 justify-between bg-blue-100 items-center">
      <p>Unimas Gym Management System</p>
      <div class="flex space-x-4">
        <template v-if="user.isLogin">
          <template v-if="user.isAdmin">
            <button class="standard-button" @click="router.push({name: 'admin-dashboard'})">
              <p>Home</p>
            </button>
            <button class="standard-button" @click="logout()">
              <p>Logout</p>
            </button>
          </template>
          <template v-else>
            <button class="standard-button" @click="router.push({name: 'stud-dashboard'})">
              <p>Home</p>
            </button>
            <button class="standard-button" @click="logout()">
              <p>Logout</p>
            </button>
          </template>
        </template>
        <template v-else>
          <button class="standard-button" @click="router.push({name: 'signUp'})">
            <p>Sign Up</p>
          </button>
        </template>
      </div>
    </div>
  </header>

  <RouterView />
</template>
